#container
    {
        width: 645px;
        margin: 0 auto;
        
    }
    
#topbar
    {
        width: 600px;
        height: 220px;
        background-color: #817161;
        text-align: right;
        font-style: italic;
        color: #eae7d2;
        background-image:url('pics/coffey.jpg');
        background-repeat: no-repeat;
        background-position: 0px 20px;
        font-size: 13px;
        
    }

#menu
    {
        margin: 0;
        width: 600px;
        background-color: #817161;
        font: 12px verdana;
    }

#menu a 
    {
        visibility: hidden;
    }
    
#menu ul
    {
        margin: 0;
        padding: 0 0 0 10px;
        width: 590px;
        height: 30px;
        background-color: #817161;
        list-style-type: none;
    }

#menu ul li
    {
        float: left;
    }
    
#menu ul li a
    {
        visibility: visible;
        height: 21px;
        margin-left: 1px;
        padding: 9px 20px 0px 20px;
        text-decoration: none;
        display: block;
        
    }
    
#menu ul li a::first-letter
    {
        text-transform: uppercase;
    }

#menu ul li a:link,
      ul li a:visited
    {
        color: #EAE7D2;
        background-color: #797066;
    }
      
#menu ul li a:hover
    {
        color: #EAE7D2;
        background-color: #9C9084;
    }

#menu ul li .active
    {
        color: #51473D;
        background-color: #EAE7D2;
    }

#content
    {
        background-color: #EAE7D2;
        width: 580px;
        height: auto;
        color: #937080;
        padding: 25px 10px 10px 10px;
        position: relative;
    }
    
#content p  
    {
        margin: 0;
    }
    
#maincontent
    {
        width: 330px;
        border-right: 1px dashed #937080;
        float: left;
        margin: 0;
        line-height: 1.5;
        padding-right: 10px;
        position: relative;
        font-size: 13px;
    }

#maincontent img
    {
        margin: 0;
        float: left;
        padding-right: 5px;
    }

#maincontent h1
    {
        font: 28px times;
        color: #797066;
        margin: 0;
    }
    
#subcontent
    {
        width:auto;
        position: absolute;
        margin-left: 349px;
        padding-right: 10px;
        margin-top: 8px;
        font-size: 12px;
        line-height: 1.5;
    }

#subcontent h1
    {
        color: #51473D;
        font: 23px times;
        margin: 0;
    }
    
#subcontent h2
    {
        color: #51473d;
        font: 15px times;
        margin: 0;
        padding-top: 10px;
    }

#subcontent ul
    {
    padding-left: 10px;  
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 13px;
    }
    
#subcontent ul li a 
    {
        color: #51473d;
    }

#bottomcontent
    {
        color: #937080;
        font-size: 12px;
        margin: 0;
        clear: both;
        padding-top: 9px;
    }
